@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html { font-size: 16px; }


/* LAYOUT */

section, footer { 
    width: 100%;
    padding: 1rem; 
}

nav, footer { 
    background-color: #373d49;
}

footer { 
    height: 50px; 
    text-align: center;
    color: #fff;
}

.wrapper { min-height: calc(100vh - 50px); }

.container {
    width: 90%;
    margin: 0 auto;
}


/* COMPONENTS */

a { 
    text-decoration: none; 
    color: #a0aabf;
}

a:hover { color: #35d7bb; }

nav { 
    width: 100%; 
    padding: 1rem 0;
    z-index: 1;
}

nav.ul {
    list-style: none;
}

nav li a {
    display: inline-block;
    padding: 10px 5px;
}

li.dropdown { display: inline-block }

.dropdown-content {
    display: none;
    position: absolute;
    top: 71px;
    right: 30px;
    width: 12rem;
    background-color: #f0f0f0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a, .options a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content {
    display: block;
}

.options {
    width: 100%;
    padding: 10px 15px;
}

.options p {
    float: left;
}

.options input {
    float: right;
}

.a__brand-name { 
    float: left; 
    font-size: 1.5rem;
    margin-top: 5px;
}

.nav__menu {
    display: block;
    float: right;
}

.nav__menu li a {
    cursor: pointer;
}

.nav__item--sub, .display__count {
    display: block;
}

.nav__menu li {
    float: left;
    margin-left: 1rem;
}


/* HELPERS */

.clearfix {
    display: table;
    content: " ";
    clear: both;
}

.active {
    color: #35d7bb;
}

.hidden {
    display: none;
}

.html-display {
    font-family: initial;
}

.styled-html-display {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1140px) {
    .container { width: 75%; }
    .dropdown-content { right: 12%; }
}

@media screen and (max-width: 600px) {
    .container { width: 100%; }
    nav { padding: 1rem; }
    .dropdown-content { right: 10px; }
}