@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html { font-size: 16px; }


/* LAYOUT */

header, section, footer { 
    width: 100%;
    padding: 1rem; 
}

header, footer { 
    background-color: #373d49;
}

footer { 
    height: 50px; 
    text-align: center;
    color: #fff;
}

.container { min-height: calc(100vh - 50px); }


/* COMPONENTS */

a { 
    text-decoration: none; 
    color: #a0aabf;
}

a:hover { color: #35d7bb; }

nav { float: right; }

nav ul {
    list-style: none;
}

nav li a {
    display: block;
    padding: 10px 5px;
}

.a__brand-name { 
    float: left; 
    font-size: 1.5rem;
    margin-top: 5px;
}

.nav__item--main {
    position: relative;
}

.nav__item--main li a {
    cursor: pointer;
}

.nav__item--sub, .display__count {
    display: block;
}

.nav__item--main li {
    float: left;
    margin-left: 1rem;
}


/* HELPERS */

.clearfix {
    display: table;
    content: " ";
    clear: both;
}

.hidden {
    display: none;
}

.html-display {
    font-family: initial;
}

.styled-html-display {
    font-family: Arial, Helvetica, sans-serif;
}